<!DOCTYPE html>
<html>
<head>
	<title>Lepilens Web</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>

	<div style="z-index: -1; position: fixed; left: 50%; margin-right: -50%; transform: translate(-50%, 0%)">
		<img src="{{ url_for('static', filename='background.png') }}" alt="Lepilens logo" style="opacity: 0.5;">
	</div>

	<h1>Lepilens Web</h1>

	<div class="contacts">
		<p>Developed by: Tomás M. S. Mamede</p>
		<p>Supervisors: Luís M. B. Lopes & Eduardo R. B. Marques</p>
		<p>Contacts: {tsmamede, lblopes, edrdo}@dcc.fc.up.pt</p>
		<p>Department of Computer Science</p>
		<p>Faculty of Sciences</p>
		<p>University of Porto</p>
		<br>
		<br>
		<a href="https://testflight.apple.com/join/h4vpWJoe">
			<img src="{{ url_for('static', filename='Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg') }}" alt="Download on the App store">
		</a>
	</div>

	<div id="form_div">
		<h2>Submit Images</h2>

		<br>
		<form action="{{ url_for('classify_image') }}" method="POST" enctype="multipart/form-data" id=form>
			<label>Select files: </label>
			<input type="file" name="image_to_classify" multiple/>
			<br>
			<br>
			<label>Choose confidence level: </label>
			<input type="range" min="0" max="100" value="10", name="confidence_slider", oninput="sliderChange(this.value)">
			<label id="slider_value">10%</label>
			<br>
			<br>
			<input type="submit" name="Classify" value="Classify">
		</form>

		<br>
		<br>
		<br>

		<h2>About the Confidence Level</h2>
		<p id="confidence_paragraph">
			The confidence level is a way of quantifying the uncertainty of an estimate.
			A high confidence level means that there is more certainty in the result of
			a classification.</p>
		<br>
		<p id="confidence_paragraph">
			Before you submit your images to the model you can choose
			a confidence level threshold, so no returned result is lower than what you
			chose.</p>
		<br>
		<p id="confidence_paragraph">
			Each result is returned with a specific background color.</p>
		<br>
		<ul id="confidence_paragraph">
			<li>Green: Confidence level is greater or equal than 70%.</li>
			<li>Yellow: Confidence level is greater or equal than 40% and less than 70%.</li>
			<li>Red: Confidence level is less than 40%.</li>
		</ul>

		<br>
		<br>
		<br>

		<h2>What is Lepilens?</h2>
		<p id="confidence_paragraph">
			Butterflies play an essential role in the natural ecosystem as pollinators and as food for other
			animals in all stages of their life cycle. Their intricate relationships with plants and animals
			means that they are often the first to be endangered if an ecosystem’s delicate balance is disturbed.
			Thus, the occurrence of certain species and their numbers are often used as indicators of ecosystem health.</p>
		<br>
		<p id="confidence_paragraph">
			Lepilens is an iOS and Web application that aims to connect its users with nature and butterflies.
			Using Lepilens anyone can become an expert in Lepidoptera and find out the taxonomic classification of spotted
			butterflies. Lepilens can classify 134 different species of butterflies that can be found in Portugal
			and across Europe.</p>

		<br>
		<br>
		<br>

		<h2>Acknowledgements</h2>
		<p id="confidence_paragraph">
			This project is the birthchild of an amazing project I worked on during the last semester of my
			Bachelor's Degree in Computer Scince. I want to express my deep and sincere gratitude
			to Professor Luís B. Lopes and Professor Eduardo R. B. Marques whose caring supervision, thoughtful guidance,
			deep knowledge and valuable feedback encouraged me throughout the whole project and development process
			of the applications for iOS and Web.</p>
		<br>
		<p id="confidence_paragraph">
			Second, a very special thanks to my friend and colleague Vasco Cruz who designed the icon for Lepilens
			and created the App Store previews for the iOS version of Lepilens.</p>
		<br>
		<p id="confidence_paragraph">
			Also, I want to acknoledge the work of all my very thoughtful and encouraging beta testers for the
		iOS version of Lepilens, specially Pedro Gomes, Pedro Carrasco and Ken Kocienda.</p>
		<br>
		<p id="confidence_paragraph">
			In order to build this app and train the Machine Learning model that performs the classification
			I used images from different sources which are hereby acknowledged: iNaturalist, pyrgus.de,
			euroButterflies, Lepidoptera Mundi, Lepiforum, Naturdata, Butterflies of France and LEPIDOPTERA
			(Borboletas) em Portugal Facebook group.</p>
		<br>
		<br>
		<br>

	</div>

	<div id="results_div">
		<h2>Results</h2>
		{% for key in species_list %}
			<img src="{{url_for('static', filename='images/'+key)}}" id="image">
			<br>
			<br>
			{% for item in species_list[key] %}
				<div id="{{ item }}" class="result_label"></div>
				<div id="family + {{item}}" class="result_label"></div>
				<div id="common_name + {{item}}" class="result_label"></div>
				<div id="links_div" style="margin-top: 5px;">
					<a id="inaturalist + {{item}}" href="">
						<img src="{{ url_for('static', filename='inaturalist_logo.png') }}" alt="iNaturalist Logo">
					</a>
					<a id="wikipedia + {{item}}" href="">
						<img src="{{ url_for('static', filename='wikipedia_logo.png') }}" alt="Wikipedia Logo">
					</a>
				</div>
				<script>

					var string = "{{ item }}";
					console.log(string);
					string = string.split(": ");

					document.getElementById("{{ item }}").innerHTML = string[1] + ": " + string[0] + " confidence";

					var confidence = parseFloat(string[0]);

					if(confidence < 40) {
						document.getElementById("{{ item }}").style.backgroundColor = "rgb(255, 77, 77)";
					}
					else if(confidence >= 40 && confidence < 70) {
						document.getElementById("{{ item }}").style.backgroundColor = "Yellow";
					}
					else if(confidence >= 70 && confidence <= 100) {
						document.getElementById("{{ item }}").style.backgroundColor = "Green";
					}

					var species_family = {{ family_dict | tojson }};
					var names = {{ secundary_name | tojson }};
					var wiki_link = {{ wikipedia_link | tojson }};
					var inat_link = {{ iNaturalist_link | tojson }};

					document.getElementById("family + {{item}}").innerHTML = "Family: " + species_family[string[1]];
					document.getElementById("common_name + {{item}}").innerHTML = "Common name: " + names[string[1]];
					document.getElementById("wikipedia + {{item}}").href = wiki_link[string[1]];
					document.getElementById("inaturalist + {{item}}").href = inat_link[string[1]];

				</script>
				<br>
			{% endfor %}
			<br>
			<br>
			<br>
		{% endfor %}
	</div>
</body>
</html>
